/*img {
	height: 100vh;
	width: 100vw;
}*/

html { /*
	background: url(../images/ohjulieho.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

#top-content {
	height: 260px;
	color: white;
	margin-bottom: calc(100vh - 200px);
}

#spacer {
	height: 10000px;
}

.intro {
	background: rgba(255,255,255,0.6);
	text-align: left;
	margin: 100px 0 0 50px;
	height: 200px;
	vertical-align: 50%;
	border-radius: 3px;
	max-width: 650px;
}

.social-section {
	margin: 35px 35px 0 0;
}

.social-section ul li {
	list-style: none;
	display: block;
	text-align: right;
	margin-left: 10px;
}

/* -------------- typography ------------- */
/* --------------------------------------- */

h1 {
	font-family: 'Playfair display', sans-serif;
	font-size: 5em;
	line-height: 1em;
	color: #454545;
}

h2 {
	font-family: 'Playfair display', sans-serif;
	font-size: 3.5em;
	line-height: 1em;
	color: #A7A7A7;
}

h3 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 1.8em;
	line-height: 1em;
	margin-bottom: 1.8em;
	color: #454545;
}

p {
	font-family: 'Pontano Sans', sans-serif;
	color: #676767;
	font-size: 1em;
	font-size: 14px;
	letter-spacing: .3px;
}

a {
	font-size: 1em;
}

i {
  	color: #82CACC;
	margin-left: 6px;
}

span.strong {
	font-weight: bold;
}

/* ----------- buttons & links ----------- */
/* --------------------------------------- */

.jh-button {
	padding: 10px;
	text-transform: uppercase;
}

.jh-button-primary {
	background: #FFFFFF;
	color: #5FBFC2;
	border: 2px solid #5FBFC2;
}

.jh-button-secondary {
	background: #FFFFFF;
	color: #A4A4A4;
	border: 2px solid #A4A4A4;
}

.intro .jh-button {
	margin-top: 50px;
	margin-right: 5px;
}

.jh-button:hover, .social-link:hover {
	opacity: .6;
    text-decoration: none;
}

a {
  color: #82CACC;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.social-link {
	color: #A4A4A4;
	border-bottom: 1px dotted #5FBFC2;
}

.subtext {
	font-size: .8em;
	color: #A7A7A7;
	font-style: italic; 
	bottom: 10px;
	position: fixed; 
}

/* -------------- projects --------------- */
/* --------------------------------------- */

.project-card {
	background: brown;
	border: 1px solid blue;
	border-radius: 3px;
	padding: 15px;
	margin: 15px;
	position: absolute; 
	box-sizing: border-box; 
	top: 0px; 
	opacity: 1; 
	left: 0px; 
	display: block;
	color: white;
}

.uk-progress-bar-1 { 
	background-image: none;
	background: red;
}

.uk-progress-bar-2 { 
	background-image: none;
	background: green;
}

.uk-progress-bar-3 { 
	background-image: none;
	background: blue;
}

.uk-progress-bar-4 { 
	background-image: none;
	background: black;
}


/* ------ experimental CSS testing ------- */'
/* --------------------------------------- */

@-webkit-keyframes move
{
    from {
        top: 300px;
    }
    to {
    	top: 195px;
        left: 570px;
    }
}
@keyframes move
{
    from {
    	top: -10000px;
    }
    to {
		top: 195px;
        left: 570px;
    }
}

a#rotator {
    text-decoration: none;
    top: 195px;
    left: 570px;
    position: absolute;
    -webkit-animation: move 3s;
    animation: move 3.5s;
}

a#rotator img {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    transition-duration: 1s;
    margin-top: 88px;
    height: 60px;
    }

a#rotator img:hover { 
	transform: scale(1.18);
	cursor: default;
}


